.home {
	section {
		@include outer-container();
		
		&#hero {
			@include fill-parent;
			height:350px;
			color:$white;
			background-size:cover;
			background-repeat:no-repeat;
			text-align:center;
			font-family:$sans-serif;
			font-weight:700;
			border-top: 7px solid $brown;
			margin-top:8px;
			
			h1 {
				font-family:$sans-serif;
				margin-top:150px;
				line-height: 100%;
			}
		}
		&#intro {
			@include fill-parent;				
			overflow:	hidden;
			background:$green;
			
			.intro-text{
				@include span-columns(8);
				float:left;
				color:$white;
				text-align:center;
				padding:2em;
				margin:0 auto;
				font-family:$sans-serif;
				font-size: 1.4em;
			}
			.video {
				@include span-columns(4);
				float:right;
				
				a {
					display:block;
					line-height:0;	
				}
				
				img {
					width:100%;
					height:auto;	
				}	
			}
		}
		&#section-a {
			@include fill-parent;
			text-align:center;
			
			h3 {
				margin: 1em 0;
				font-size: 2.5em;
				font-weight:700;
			}
			
			.practitioner {
				float:left;
				width:33%;	
				
				.wrap {
					overflow:hidden;
					height:200px;
					width:200px;
					border-radius:50%;
					margin:0 auto;
					border:2px solid $brown;	
				}
			}
			p.highlight {
				font-size: 1.75em;
				margin-top: 3em;
				max-width: 900px;
				margin-left: auto;
				margin-right: auto;
				display: inline-block;
				clear: both;
				position: relative;
				overflow: hidden;
				
			}	
		}
		&#section-b {
			@include fill-parent;
			text-align:center;			
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(255, 255, 255, 0) 0%, #fff79d 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(100%,#fff79d)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,#fff79d 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,#fff79d 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,#fff79d 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%,#fff79d 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0)', endColorstr='#fff79d',GradientType=0 ); /* IE6-9 */
			padding-bottom:3em;
			font-family: $sans-serif;
				
			.two-col {
				-moz-column-count: 2;
				-moz-column-gap: 20px;
				-webkit-column-count: 2;
				-webkit-column-gap: 20px;
				column-count: 2;
				column-gap: 20px;
				
				ul li {
					font-size:1.5em;
					-webkit-column-break-inside: avoid;
         			page-break-inside: avoid;
              		break-inside: avoid;		
				}	
			}

			h3 {
				margin: 1em 0;
				font-size: 2.5em;
				font-family: $serif-text;
				font-weight:700;
			}
		}
		&#section-c {
			@include fill-parent;
			text-align:center;			
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(255, 255, 255, 0) 0%, #bee9eb 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(100%,#fff79d)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,#bee9eb 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,#bee9eb 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255, 255, 255, 0) 0%,#bee9eb 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255, 255, 255, 0) 0%,#bee9eb 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0)', endColorstr='#bee9eb',GradientType=0 ); /* IE6-9 */
			padding-bottom:3em;
			font-family: $sans-serif;
				
			.two-col {
				-moz-column-count: 2;
				-moz-column-gap: 20px;
				-webkit-column-count: 2;
				-webkit-column-gap: 20px;
				column-count: 2;
				column-gap: 20px;
				
				ul li {
					font-size:1.5em;
					-webkit-column-break-inside: avoid;
         			page-break-inside: avoid;
              		break-inside: avoid;	
				}	
			}

			h3 {
				margin: 1em 0;
				font-size: 2.5em;
				font-family: $serif-text;
				font-weight:700;
			}
		}
		&#section-d {
			padding: 3em 0;
			font-size: 1.35em;
		}
	}
}