/* Scss Document */

header#masthead {
	width:100%;
	background-color: rgb(255, 253, 246);
	position: relative;
	height: 270px;
	z-index: 9999;
	top: 0;
	
	.wrap {
		@include outer-container;
		@include fill-parent;
		
		.site-branding {
			@include fill-parent;
			text-align:center;
			
			h1.site-title a {
				font-weight:700;
				display: inline-block;
				padding: 2% 3% .5%;
				border-bottom: 1px solid cyan;
				width: 420px;
			}
			h2.site-description {
				font-family:$sans-serif;
				font-size: 1.3em;
				font-weight: 100;
				line-height: 2.2em;
			}
		}
		nav#site-navigation {
			@fill-parent;
			margin-top:-40px;
			
			.menu-main-navigation-container {
				float: right;
			
				ul {
					@include fill-parent;	
				}
			}
			.menu-main-nav-right-container {
				float: right;
			}
		}
	}
}
body.admin-bar header#masthead {
	top: 28px;
}